.main {
    background-color: #262b3e;
    height: max-content;
}

.logoDiv {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.logos {
    width: 18%;
    border: 1.5px solid #6b6b6b;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 black;
}

/* Responsive */

@media screen and (max-width: 750px) {
    .logoDiv {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .logos {
        width: 100%;
        border: 3px solid #6b6b6b;
        border-radius: 12px;
    }
}

/* Responsive */
